doctype html
html(lang="ch")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")

        title cyu
    body
        h1 hello world!

        block content
        
        block scripts
            script(type="text/javascript",src="xxxx.js")
